* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 16px;
}

.rendom_box {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: dodgerblue;
    padding: 20px;
    position: relative;
}

.userone {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 260px;
    height: 380px;
    border-radius: 10px;
    background: white;
    padding: 20px;
}

.userone_text {
    font-size: 36px;
    color: dodgerblue;
    margin-bottom: 8px;
}

.userone_ball {
    font-size: 24px;
    color: #8b8b8b;
}

.userone_balls_num {
    color: red;
}

.userone_group {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.userone_rendom_num {
    font-size: 74px;
    margin-top: 20px;
    color: #00ff00;
}

.userone_btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid transparent;
    background: dodgerblue;
    color: white;
    font-size: 22px;
    transition: .2s;
    cursor: pointer;

    &:hover {
        background: white;
        color: dodgerblue;
        border-color: dodgerblue;
        transition: .3s;
    }
}



.usertwo {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 260px;
    height: 380px;
    border-radius: 10px;
    background: white;
    padding: 20px;
}

.usertwo_text {
    font-size: 36px;
    color: dodgerblue;
    margin-bottom: 8px;
}

.usertwo_ball {
    font-size: 24px;
    color: #8b8b8b;
}

.usertwo_balls_num {
    color: red;
}

.usertwo_group {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.usertwo_rendom_num {
    font-size: 74px;
    margin-top: 20px;
    color: #00ff00;
}

.usertwo_btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid transparent;
    background: grey;
    color: white;
    font-size: 22px;
    transition: .2s;
    cursor: pointer;

    &:hover {
        background: white;
        color: dodgerblue;
        border-color: dodgerblue;
        transition: .3s;
    }
}


.tuxtatish {
    width: 100%;
    height: 100%;
    background: yellow;
    position: absolute;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    display: none;
}

.tuxtatish_text {
    font-size: 48px;
    color: #0000fd;
}